.mt4{
    background-color: #f5f5f5;
    width: 210mm;
    min-height: 297mm;
    margin-left: auto;
    margin-right: auto
}
.mt3{
    background-color: #f5f5f5;
    width: 300mm;
    min-height: 219mm;
    margin-left: auto;
    margin-right: auto
}
.mb5{
    margin-left: 3%;
    margin-top: 2%;
}
.invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica';
}
.margin-top {
    margin-top: 50px;
}
.justify-center {
    text-align: center;
}
.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}
.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}
.invoice-box table tr td:nth-child(2) {
    text-align: right;
}
.invoice-box table tr.top table td {
    padding-bottom: 20px;
}
.invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
}
.invoice-box table tr.information table td {
    padding-bottom: 40px;
}
.invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}
.invoice-box table tr.details td {
    padding-bottom: 20px;
}
.invoice-box table tr.item td {
    border-bottom: 1px solid #eee;
}
.invoice-box table tr.item.last td {
    border-bottom: none;
}
.invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
}
.own_table {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    width: 100%;
    padding-top: 13mm;
}
.td_left {
    padding-top: 1.3cm;
    width: 33%;
    padding-left: 15mm;
}
.td_left p{
    font-family: "Times New Roman", serif;
    font-size: 11pt;
    text-align: left;
    width: 100%;
    margin: 0;

}

.td_right {
    width: 33%;
    padding-top: 1.3cm;
    padding-right: 6mm;
}
.td_right p {
    font-family: "Times New Roman", serif;
    font-size: 11pt;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
}
.td_logo {
    padding-top: 1.3cm;
    width: 33%;
}
.td_logo p{

}
@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }
    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
}